html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#header {
    height: 50px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    background-color: #f8f8f8;
}

#header > .content{
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    height: 100%;
}

.logopic{
    padding: 2px 10px 2px 30px;
    height: 45px;
}

.logoword{
    height:40px;
    padding-bottom: 2px;
}

#header > .content > .right{
    float:right;
    list-style: none;
    font-size: 14px;
}

#header > .content > .right > li{
    float: left;
    vertical-align: middle;
}

#header > .content > .right > li > a{
    color: #777777;
    padding: 10px 15px;
}

#header > .content > .right > li > a:hover{
    color: #333333;
    text-decoration: none;
}

#header > .content > .right > li > a:visited{
    text-decoration: none;
}